<% include header.ejs %>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-muted">Messages</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-10">
            <div class="well well-sm">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <p>
                    <span>Date : </span>
                    <br>
                    <span>Message : </span>
                    <br>
                    <hr style="border-top:1px solid black">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->
  <% include footer.ejs %>
    <script src="student.js" charset="utf-8"></script>
    <script type="text/javascript">
    </script>
    </body>

    </html>
